<ng-container *transloco="let t">
    <div class="mt-3">
        <h2>{{ t('dashboard.title') }}</h2>

        <div *ngIf="learningCourses">
            <div class="card my-3" *ngFor="let course of learningCourses">
                <div class="card-header">
                    <a routerLink="" class="link link-info h5" (click)="navigateToCourse(course)">
                        {{course.title}}
                    </a>
                </div>
                <div class="card-body">
                    <button class="btn btn-primary" (click)="onReviewByCourse(course)">
                        {{ t('review') }}
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="learningCourses?.length == 0">
            <p>{{ t('dashboard.no-courses') }}. <a routerLink="./courses">{{ t('add') }}?</a></p>
        </div>
    </div>
</ng-container>
