<ng-container *transloco="let t">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-nowrap" scope="col">#</th>
                    <th class="text-nowrap" scope="col">{{ t('content') }}</th>
                    <th class="text-nowrap" scope="col">{{ t('accuracy') }}, %</th>
                    <th class="text-nowrap" scope="col">{{ t('recall') }}, %</th>
                    <th class="text-nowrap" scope="col">{{ t('last-review') }}</th>
                    <th class="text-nowrap" scope="col">{{ t('next-review') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of learningCards; let i = index">
                    <th scope="row">{{i + 1}}</th>

                    <td>
                        <a class="link link-primary" routerLink="" (click)="navigateElement(card)">
                            {{getContent(card.card, card.learningElement.element.targetLang)}}
                        </a>
                    </td>

                    <td class="text-nowrap">
                        {{card.learningElement.lastRep?.answer?.accuracy}}
                    </td>

                    <td class="text-nowrap">
                        {{card.learningElement.lastRep?.answer?.retrievability}}
                    </td>

                    <td class="text-nowrap">
                        {{card.learningElement.lastRep?.answer?.date?.toLocaleString()}}
                    </td>

                    <td class="text-nowrap">
                        {{getLocaleDateString(card.learningElement.nextRep.date)}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
