<div class="mt-3" *ngIf="course && topic">
    <div>
        <div>
            <h2>Course:
                <a class="link-primary" routerLink="../">
                    {{course.title}}
                </a>
            </h2 >
        </div>
    
        <div *ngIf="!isChanging">
            <h3>Topic:
                {{topic.title}}
            </h3>
        </div>
    
        <div *ngIf="isChanging">
            <h3>Change topic</h3>
            <label for="title">Title</label>
            <input 
                class="form-control"
                type="text"
                id="title" 
                required [(ngModel)]="topic.title"
            />
        </div>
    
        <div class="row">
            <label>Difficulty: {{topic.difficult}}</label>
        </div>
    
        <div>
            <label>Description</label>
            <textarea 
                class="form-control"
                [disabled]="!isChanging"
                required [(ngModel)]="topic.description">
            </textarea>
        </div>
    
        <div class="my-2" *ngIf="!isChanging">
            <button class="btn btn-primary" (click)="changeTopic()">
                Change
            </button>
            <button class="btn btn-danger ms-2" (click)="deleteTopic()">
                Delete
            </button>
        </div>
        <div class="my-2" *ngIf="isChanging">
            <button class="btn btn-success" (click)="updateTopic()">
                Update
            </button>
            <button class="btn btn-primary ms-2" (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>

    <hr>

    <div class="my-2" *ngIf="!isCommit">
        <button class="btn btn-primary"
            *ngIf="isShowTopicElements"
            (click)="isShowTopicElements = !isShowTopicElements">
            Go search
        </button>
        <button class="btn btn-primary"
            *ngIf="!isShowTopicElements"
            (click)="isShowTopicElements = !isShowTopicElements">
            Go to elements
        </button>
    </div>

    <div class="my-2" *ngIf="isCommit">
        <button class="btn btn-success"
            (click)="commit()">
            Apply changes
        </button>
    </div>

    <div *ngIf="isShowTopicElements">
        <div *ngIf="topicElements">
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Element</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let topicElementCard of topicElements; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                                <table class="table table-sm table-striped table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Content</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let side of topicElementCard.card.sides">
                                            <td>{{side.content}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                *ngIf="addedElementIds.has(topicElementCard.topicElement.elementId)"
                                (click)="deleteElement(topicElementCard.topicElement.elementId)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="!isShowTopicElements">
        <div>
            <label>Element search</label>
            <div class="row">
                <div class="col-5">
                    <input 
                        class="form-control"
                        type="text"
                        required [(ngModel)]="query"/>
                </div>
                <div class="col-5">
                    <button class="btn btn-primary"
                        (click)="find()"
                        [disabled]="query.trim().length === 0">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="resultFind">
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Element</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let elementCard of resultFind; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                                <table class="table table-sm table-striped table-bordered mb-0">
                                    <!-- <thead>
                                        <tr>
                                            <th scope="col">Слово</th>
                                        </tr>
                                    </thead> -->
                                    <tbody>
                                        <tr *ngFor="let side of elementCard.card.sides">
                                            <td>{{side.content}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <button class="btn btn-success"
                                    *ngIf="!addedElementIds.has(elementCard.elementId)"
                                    (click)="addNewElement(elementCard.elementId)">
                                    Add
                                </button>
                                <button class="btn btn-danger"
                                    *ngIf="addedElementIds.has(elementCard.elementId)"
                                    (click)="deleteElement(elementCard.elementId)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>