<ng-container *transloco="let t">
    <div *ngIf="course">
        <div class="m-2">
            <div class="row">
                <div class="col-auto">
                    <h2>{{course.title}}</h2>
                </div>
                <div class="col-auto">
                    <button class="btn btn-info disabled" *ngIf="course.added">
                        {{ t('is-learning') }}
                    </button>
                    <button class="btn btn-info" *ngIf="!course.added" (click)="addCourse()" [disabled]="this.isDisabledButtons">
                        {{ t('add') }}
                    </button>
                </div>
            </div>
            <div>
                <p>{{ t('target-lang') }}:
                    <span class="badge bg-secondary">{{ course.targetLang }}</span>
                </p>
                <p>{{ t('source-lang') }}:
                    <span class="badge bg-secondary">{{ course.sourceLang }}</span>
                </p>
                <p>{{ t('difficulty') }}: {{course.difficult}}</p>
                <p>{{course.description}}</p>
            </div>
        </div>

        <div class="m-2" *ngFor="let topic of course.topics">
            <div class="card">
                <div class="card-body">
                    <h5>{{ t('topic') }}: {{topic.title}}
                        <span class="badge bg-info" *ngIf="topic.added">
                            {{ t('is-learning') }}
                        </span>
                    </h5>
                    <p>{{ t('difficulty') }}: {{topic.difficult}}</p>
                    <p>{{topic.description}}</p>
                    <div *ngIf="topic.added">
                        <button class="btn btn-primary" (click)="navigateToStats(topic)">
                            {{ t('statistics') }}
                        </button>
                        <button class="btn btn-primary mx-2" (click)="onReviewByTopic(course, topic)">
                            {{ t('review') }}
                        </button>
                    </div>

                    <div *ngIf="course.added && !topic.added">
                        <button class="btn btn-info" (click)="addTopic(topic)" [disabled]="this.isDisabledButtons">
                            {{ t('add') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
