<div class="d-flex flex-column bg-light min-vh-100">
    <admin-navbar></admin-navbar>
    
    <div class="container">
        <div class="row min-vh-100 justify-content-center">
            <div class="col-lg-8 bg-white">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</div>
