<ng-container *transloco="let t">
    <nav class="navbar shadow navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a routerLink="/app" class="navbar-brand">{{brand}}</a>

            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" [ngbCollapse]="isMenuCollapsed">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./courses" (click)="isMenuCollapsed = true">
                            {{ t('courses') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="./test" (click)="isMenuCollapsed = true">
                            {{ t('tests') }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item mr-auto" ngbDropdown>
                        <a class="nav-link" type="button" ngbDropdownToggle>{{username}}</a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark" ngbDropdownMenu>
                            <button ngbDropdownItem (click)="logOut()">
                                {{ t('exit') }}
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ng-container>
