<ng-container *transloco="let t">
    <div class="mt-3">
        <h2>{{ t('courses') }}</h2>
        
        <hr>
        
        <div class="row m-1">
            <div class="col">
                <label>{{ t('target-lang') }}:</label>
            </div>
            <div class="col">
                <label>{{ t('source-lang') }}:</label>
            </div>
        </div>
        <div class="row m-1" *ngIf="langPairs">
            <div class="col">
                <select class="form-select" [(ngModel)]="targetLang">
                    <option *ngFor="let lang of langPairs.getTargetLangs(sourceLang)" [ngValue]="lang">
                        {{ t(lang) }}
                        <!-- {{lang}} -->
                    </option>
                </select>
            </div>
            <div class="col">
                <select class="form-select" [(ngModel)]="sourceLang">
                    <option *ngFor="let lang of langPairs.getSourceLangs(targetLang)" [ngValue]="lang">
                        {{ t(lang) }}
                        <!-- {{lang}} -->
                    </option>
                </select>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-auto">
                <button class="btn btn-info" [disabled]="!targetLang" (click)="getCourses()">
                    {{ t('search') }}
                </button>
            </div>
        </div>

        <hr>
        
        <div class="card my-3" *ngFor="let course of courses">
            <div class="card-header">
                <a class="card-title link-info h5" routerLink="" (click)="navigateToCourse(course)">
                    {{course.title}}
                </a>
                <a class="btn badge bg-info ms-3" *ngIf="course.added">
                    {{ t('is-learning') }}
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p>{{ t('total-topics') }}: {{course.topicCount}}</p>
                        <p>{{ t('difficulty') }}: {{course.difficult}}</p>
                    </div>
                    <div class="col">
                        <p>{{ t('target-lang') }}:
                            <span class="badge bg-secondary">{{ course.targetLang }}</span>
                        </p>
                        <p>{{ t('source-lang') }}:
                            <span class="badge bg-secondary">{{ course.sourceLang }}</span>
                        </p>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</ng-container>
