<ng-container *transloco="let t">
    <div class="mt-3">
        <h2>{{ t('card-details.title') }}</h2>

        <hr>

        <div *ngIf="learningCard">
            <h4>{{ t('card') }}</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ t('tag') }}</th>
                            <th scope="col">{{ t('content') }}</th>
                            <th scope="col">{{ t('lang') }}</th>
                            <th scope="col">{{ t('side-type') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let side of learningCard.card.sides; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                                {{side.tag}}
                            </td>
                            <td>
                                {{side.content}}
                            </td>
                            <td>
                                {{ t(side.lang) }}
                            </td>
                            <td>
                                {{side.sideType}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <hr>

            <h4>{{ t('history') }}</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-nowrap" scope="col">{{ t('loop') }}</th>
                            <th class="text-nowrap" scope="col">{{ t('number') }}</th>
                            <th class="text-nowrap" scope="col">{{ t('interval') }}</th>
                            <th class="text-nowrap" scope="col">{{ t('accuracy') }}, %</th>
                            <th class="text-nowrap" scope="col">{{ t('recall') }}, %</th>
                            <th class="text-nowrap" scope="col">{{ t('review-date') }}</th>
                            <th class="text-nowrap" scope="col">{{ t('answer-date') }}</th>
                            <th class="text-nowrap" scope="col">{{ t('time') }}, {{ t('sec') }}.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of learningCard.learningElement.repetitions">
                            <th scope="row">
                                {{r.loop}}
                            </th>
                            <th scope="row">
                                {{r.serialNumber}}
                            </th>
                            <td>
                                {{r.interval}}
                            </td>
                            <td class="text-nowrap">
                                {{r.answer?.accuracy}}
                            </td>
                            <td class="text-nowrap">
                                {{r.answer?.retrievability}}
                            </td>
                            <td class="text-nowrap">
                                {{r.date.toLocaleDateString()}}
                            </td>
                            <td class="text-nowrap">
                                {{r.answer?.date?.toLocaleString()}}
                            </td>
                            <td class="text-nowrap">
                                {{r.answer?.thinkingTime}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
