<ng-container *transloco="let t">
    <div>
        <div *ngIf="!isShowAnswer">
            <p>{{ t('answer') }}?</p>
            <div class="text-center">
                <button class="btn btn-primary" (click)="showAnswer()">
                    {{ t('show-answer') }}
                </button>
            </div>
        </div>

        <div *ngIf="isShowAnswer">
            <p>{{ t('answer') }}:</p>
            <h4 class="text-center" *ngFor="let answer of studyTest.answers">
                {{answer.content}}
            </h4>
            
            <hr>
            
            <div>
                <label>{{ t('sm2.rate') }}:</label>
                <div class="my-4" ngbDropdown>
                    <button class="btn btn-info" ngbDropdownToggle>?</button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <label class="text-wrap" ngbDropdownItem>{{ t('sm2.5') }}</label>
                        <label class="text-wrap" ngbDropdownItem>{{ t('sm2.4') }}</label>
                        <label class="text-wrap" ngbDropdownItem>{{ t('sm2.3') }}</label>
                        <label class="text-wrap" ngbDropdownItem>{{ t('sm2.2') }}</label>
                        <label class="text-wrap" ngbDropdownItem>{{ t('sm2.1') }}</label>
                        <label class="text-wrap" ngbDropdownItem>{{ t('sm2.0') }}</label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <button class="btn btn-primary mx-2 col" *ngFor="let mark of sm2Marks"
                    (click)="onMark(mark)">
                    {{mark}}
                </button>
            </div>
        </div>
    </div>
</ng-container>
