<ng-container *transloco="let t">
    <div class="mt-3">
        <h2>{{ t('tests') }}</h2>

        <div *ngIf="!curTest">
            <div class="row my-2" *ngIf="!reviewService.targetLang || !reviewService.sourceLang">
                <div class="col">
                    <label>{{ t('target-lang') }}</label>
                    <input class="form-control" [(ngModel)]="reviewService.targetLang">
                </div>
                <div class="col">
                    <label>{{ t('source-lang') }}</label>
                    <input class="form-control" [(ngModel)]="reviewService.sourceLang">
                </div>
            </div>
            <div class="row my-2 align-items-end">
                <div class="col">
                    <label>{{ t('study-tests.test-type') }}</label>
                    <select class="form-select" [(ngModel)]="reviewService.type">
                        <option *ngFor="let testType of reviewService.testTypes" [ngValue]="testType">{{testType}}</option>
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-primary" (click)="getStudyTests()">
                        {{ t('start') }}
                    </button>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkShuffle" [(ngModel)]="reviewService.shuffle">
                <label class="form-check-label" for="checkShuffle">
                    {{ t('study-tests.shuffle') }}
                </label>
            </div>
        </div>

        <div class="alert alert-danger" *ngIf="noTests">
            <label>
                {{ t('study-tests.no-tests') }}
            </label>
        </div>

        <div *ngIf="curTest">
            <div class="justify-content-between row" *ngIf="!isFinish">
                <p class="col-auto">
                    {{curTestNumber + 1}} / {{reviewService.getTestsCount()}}
                </p>
                
                <button class="btn btn-success col-auto mx-2" (click)="onFinish()">
                    {{ t('finish') }}
                </button>
            </div>
        
            <hr>
        
            <div>
                <study-study-test
                    *ngIf="isShowTest && !isFinish"
                    [studyTest]="curTest"
                    (userAnswerEvent)="addUserAnswer($event)">
                </study-study-test>
            </div>
        </div>
    </div>
</ng-container>
