<ng-container *transloco="let t">
    <div>
        <div *ngIf="!isShowAnswer">
            <p>{{ t('answer') }}?</p>
            <form [formGroup]="answer" (ngSubmit)="onAnswerSubmit()">
                <div class="row">
                    <div class="col">
                        <input class="form-control"
                            type="text"
                            formControlName="answer"
                            (ngModelChange)="onAnswerChange($event)">
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary" type="submit">
                            {{ t('submit') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf="isShowAnswer">
            <p>{{ t('your-answer') }}:</p>
            <h4 class="text-center">
                {{answer.controls['answer'].value}}
            </h4>

            <p>{{ t('answer') }}:</p>
            <h4 class="text-center" *ngFor="let answer of studyTest.answers">
                {{answer.content}}
            </h4>

            <button class="btn btn-primary" (click)="onNext()">
                {{ t('next-question') }}
            </button>
        </div>
    </div>
</ng-container>
