<ng-container *transloco="let t">
    <div class="mt-3">
        <h2>{{ t('study-tests.results') }}</h2>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ t('content') }}</th>
                        <th scope="col">{{ t('accuracy') }}, %</th>
                        <th scope="col">{{ t('recall') }}, %</th>
                        <th scope="col">{{ t('next-review') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let answer of reviewService.answers; let i = index">
                        <ng-template [ngIf]="getCard(answer.learningElementId)">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                                <a class="link link-primary" routerLink="" (click)="navigateElement(answer)">
                                    {{getContent(getCard(answer.learningElementId).card, getCard(answer.learningElementId).learningElement.element.targetLang)}}
                                </a>
                            </td>
                            <td class="text-nowrap">
                                {{getCard(answer.learningElementId).learningElement.lastRep?.answer?.accuracy}}
                            </td>
                            <td class="text-nowrap">
                                {{getCard(answer.learningElementId).learningElement.lastRep?.answer?.retrievability}}
                            </td>
                            <td class="text-nowrap">
                                {{getLocaleDateString(getCard(answer.learningElementId).learningElement.nextRep.date)}}
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
