<div class="mt-3">
    <h2>Create course</h2>

    <div class="form-group my-2">
        <label for="title">Title</label>
        <input
            class="form-control"
            type="text"
            id="title" 
            required [(ngModel)]="course.title"
        />
    </div>
    
    <div class="row my-2">
        <div class="col-4 col-md-3">
            <label for="target-lang">Target lang</label>
            <input 
                class="form-control"
                type="text"
                id="target-lang" 
                required [(ngModel)]="course.targetLang"
            />
        </div>
        <div class="col-4 col-md-3">
            <label for="source-lang">Source lang</label>
            <input 
                class="form-control"
                type="text"
                id="source-lang" 
                required [(ngModel)]="course.sourceLang"
            />
        </div>
        <div class="col-4 col-md-3">
            <label for="source-lang">Difficulty</label>
            <input 
                class="form-control"
                type="number"
                id="source-lang" 
                required [(ngModel)]="course.difficult"
            />
        </div>
    </div>

    <div class="form-group my-2">
        <label for="description">Description</label>
        <textarea
            class="form-control"
            id="description"
            required [(ngModel)]="course.description">
        </textarea>
    </div>

    <button class="btn btn-success mt-2" (click)="createCourse()">
        Create
    </button>
</div>