<div class="mt-3">
    <h2>Courses list</h2>

    <div class="row m-2">
        <div class="col-4">
            <label>Target lang</label>
        </div>
        <div class="col">
            <input class="form-control" [(ngModel)]="targetLang">
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <label>Source lang</label>
        </div>
        <div class="col">
            <input class="form-control" [(ngModel)]="sourceLang">
        </div>
    </div>

    <div class="row m-2">
        <button class="btn btn-primary col-auto mx-2" [disabled]="!targetLang || !sourceLang" (click)="getCourses()">
            Search
        </button>
        <button class="btn btn-primary col-auto mx-2" routerLink="../courses/add">
            Add course
        </button>
    </div>

    <div class="card my-2" *ngFor="let course of courses">
        <div class="card-header">
            <a class="card-title link-info h5" routerLink="../course/{{course.id}}">
                {{course.title}}
            </a>
        </div>
        <div class="card-body justify-content-between">
            <p>Topics count: {{course.topics.length}}</p>
            <p>Difficulty: {{course.difficult}}</p>
        </div>
    </div>
</div>