<div class="row justify-content-center">
    <div class="col-md-9 col-lg-6">
        <div *transloco="let t">
            <p>{{ t('question') }}:</p>
            <h4 class="text-center" style="white-space: pre-line">
                {{studyTest.question.content}}
            </h4>
        </div>
        
        <hr>
        
        <ng-template studyAnswerTest></ng-template>
    </div>
</div>
