<ng-container *transloco="let t">
    <div class="min-vh-100 bg-light">
        <div class="pt-md-5">
            <div class="col-md-6 col-lg-4 card mx-auto">
                <h2 class="text-center my-3">{{ t('login.login-form') }}</h2>

                <form [formGroup]="loginForm">
                    <div class="m-3">
                        <label>{{ t('login.login') }}</label>
                        <input class="form-control" type="text" formControlName="username" autocomplete="username">
                        <div *ngIf="username?.dirty && username?.touched">
                            <li class="text-danger" *ngIf="username?.hasError('required')">
                                {{ t('login.necessary') }}
                            </li>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="row justify-content-between">
                            <label class="col">{{ t('login.password') }}</label>
                            <div class="col text-end">
                                <a class="link-info" *ngIf="!isShowPassword" type="button" (click)="isShowPassword = !isShowPassword">
                                    {{ t('login.show') }}
                                </a>
                                <a class="link-info" *ngIf="isShowPassword" type="button" (click)="isShowPassword = !isShowPassword">
                                    {{ t('login.hide') }}
                                </a>
                            </div>
                        </div>
                        <input class="form-control" [type]="isShowPassword ? 'text' : 'password'" formControlName="password" autocomplete="current-password">
                        <div *ngIf="password?.dirty && password?.touched">
                            <li class="text-danger" *ngIf="password?.hasError('required')">
                                {{ t('login.necessary') }}
                            </li>
                        </div>
                    </div>
                </form>

                <!-- <div class="form-check m-3">
                    <input id="rememberMeCheck" class="form-check-input" type="checkbox" [(ngModel)]="rememberMe">
                    <label for="rememberMeCheck" class="form-check-label">{{ t('login.remember-me') }}</label>
                </div> -->

                <div class="m-3">
                    <button class="btn btn-primary form-control" [disabled]="loginForm.invalid" type="button" (click)="onLogin()">
                        {{ t('login.entry') }}
                    </button>
                    <button class="btn btn-link m-2" type="button" routerLink="/register">
                        {{ t('login.not-registered') }}
                    </button>
                </div>
            
                <div class="alert alert-danger m-3" *ngIf="loginAlert">
                    {{ t('login.alert') }}
                </div>

            </div>
        </div>
    </div>
</ng-container>
