<ng-container *transloco="let t">
    <div class="min-vh-100 bg-light">
        <div class="pt-md-5"> 
            <div class="col-md-6 col-lg-4 card mx-auto">
                <h2 class="text-center my-3">{{ t('register.register-form') }}</h2>
    
                <form [formGroup]="registerForm">
                    <div class="m-3">
                        <label>{{ t('register.login') }}</label>
                        <input class="form-control" type="text" formControlName="username" autocomplete="username">
                        <div *ngIf="username?.dirty && username?.touched">
                            <label class="text-danger" *ngIf="username?.hasError('required')">
                                {{ t('register.necessary') }}
                            </label>
                            <label class="text-danger" *ngIf="username?.hasError('minlength')">
                                {{ t('register.login-min-length') }}
                            </label>
                            <label class="text-danger" *ngIf="username?.hasError('maxlength')">
                                {{ t('register.login-max-length') }}
                            </label>
                            <label class="text-danger" *ngIf="username?.hasError('pattern')">
                                {{ t('register.login-pattern') }}
                            </label>
                        </div>
                    </div>
    
                    <div class="m-3">
                        <div class="row">
                            <label class="col">{{ t('register.password') }}</label>
                            <div class="col text-end">
                                <a class="link-info" *ngIf="!isShowPassword1" type="button" (click)="isShowPassword1 = !isShowPassword1">
                                    {{ t('register.show') }}
                                </a>
                                <a class="link-info" *ngIf="isShowPassword1" type="button" (click)="isShowPassword1 = !isShowPassword1">
                                    {{ t('register.hide') }}
                                </a>
                            </div>
                        </div>
                        <input class="form-control" [type]="isShowPassword1 ? 'text' : 'password'" formControlName="password" autocomplete="new-password">
                        <div>
                            <label>{{ t('register.password-requirements') }}:</label>
                            <li [ngClass]="password?.hasError('required') || password?.hasError('minlength') ? 'text-danger':'text-success fw-bold'">
                                {{ t('register.password-min-length') }}
                            </li>
                            <li class="text-danger" *ngIf="password?.hasError('maxlength')">
                                {{ t('register.password-max-length') }}
                            </li>
                            <li [ngClass]="!password?.hasError('required')  && passwordValidPatterns() ? 'text-success fw-bold':'text-danger'">
                                {{ t('register.password-other-requirements') }}:
                            </li>
                            <ul>
                                <li [ngClass]="password?.hasError('required') || password?.hasError('upperCase') ? '':'text-success fw-bold'">
                                    {{ t('register.password-upper-case') }}
                                </li>
                                <li [ngClass]="password?.hasError('required') || password?.hasError('lowerCase') ? '':'text-success fw-bold'">
                                    {{ t('register.password-lower-case') }}
                                </li>
                                <li [ngClass]="password?.hasError('required') || password?.hasError('number') ? '':'text-success fw-bold'">
                                    {{ t('register.password-number-case') }}
                                </li>
                                <li [ngClass]="password?.hasError('required') || password?.hasError('specialSymbol') ? '':'text-success fw-bold'">
                                    {{ t('register.password-symbol-case') }}
                                </li>
                                <li class="text-danger" *ngIf="password?.hasError('allSymbols')">
                                    {{ t('register.password-not-other-case') }}
                                </li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="m-3">
                        <div class="row">
                            <label class="col">{{ t('register.password-repeat') }}</label>
                            <div class="col text-end">
                                <a class="link-info" *ngIf="!isShowPassword2" type="button" (click)="isShowPassword2 = !isShowPassword2">
                                    {{ t('register.show') }}
                                </a>
                                <a class="link-info" *ngIf="isShowPassword2" type="button" (click)="isShowPassword2 = !isShowPassword2">
                                    {{ t('register.hide') }}
                                </a>
                            </div>
                        </div>
                        <input class="form-control" [type]="isShowPassword2 ? 'text' : 'password'"  formControlName="confirmPassword" autocomplete="new-password">
                        <div>
                            <label class="text-danger" *ngIf="confirmPassword?.touched && confirmPassword?.dirty && confirmPassword?.hasError('required')">
                                {{ t('register.necessary') }}
                            </label>
                            <label class="text-success fw-bold" *ngIf="passwordsValid()">
                                {{ t('register.password-match') }}
                            </label>
                            <label class="text-danger" *ngIf="!passwordsValid()">
                                {{ t('register.password-dont-match') }}
                            </label>
                        </div>
                    </div>
                </form>
            
            
                <div class="m-3">
                    <button class="btn btn-primary form-control" [disabled]="!passwordsValid() || !username?.valid" type="button" (click)="onRegister()">
                        {{ t('register.register') }}
                    </button>
                    <button class="btn btn-link m-2" type="button" routerLink="/login">
                        {{ t('register.have-account') }}
                    </button>
                </div>
            
                <div class="alert alert-danger m-3" *ngIf="alertMessage">
                    {{alertMessage}}
                </div>
            </div>
        </div>
    </div>
</ng-container>
