<ng-container *transloco="let t">
    <div class="mt-3" *ngIf="course">
        <h2>{{ t('topic-details.title') }} '{{topic.title}}'</h2>

        <study-learning-card-list
            [learningCards]="learningCards"
            [sourceLang]="course.sourceLang">
        </study-learning-card-list>

        <div class="text-center my-3" *ngIf="hasPages">
            <button class="btn btn-primary" (click)="getNextPage()">
                {{ t('load-more') }}
            </button>
        </div>
    </div>
</ng-container>
