<div class="mt-3" *ngIf="course">
    <div>
        <div *ngIf="!isChanging">
            <h2>Course:
                {{course.title}}
            </h2>
        </div>

        <div *ngIf="isChanging">
            <h2>Change</h2>
            <label for="title">Title</label>
            <input 
                class="form-control"
                type="text"
                id="title" 
                required [(ngModel)]="course.title"
            />
        </div>

        <div class="row">
            <div class="col-3">
                <label>Target lang:
                    <span class="badge bg-light text-dark">{{course.targetLang}}</span>
                </label>
            </div>
            <div class="col-3">
                <label>Source lang:
                    <span class="badge bg-light text-dark">{{course.sourceLang}}</span>
                </label>
            </div>
            <label>Difficulty: {{course.difficult}}</label>
        </div>

        <div>
            <label>Description</label>
            <textarea 
                class="form-control"
                [disabled]="!isChanging"
                required [(ngModel)]="course.description">
            </textarea>
        </div>

        <div class="my-2" *ngIf="!isChanging">
            <button class="btn btn-primary" (click)="changeCourse()">
                Change
            </button>
            <button class="btn btn-danger ms-2" (click)="deleteCourse()">
                Delete
            </button>
        </div>
        <div class="my-2" *ngIf="isChanging">
            <button class="btn btn-success" (click)="updateCourse()">
                Update
            </button>
            <button class="btn btn-primary ms-2" (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>

    <hr>

    <h2>Topics</h2>

    <div class="my-2" *ngFor="let topic of course.topics">
        <div class="card">
            <div class="card-header">
                <a class="card-title link-primary h5" routerLink="./{{topic.id}}">{{topic.title}}</a>
            </div>
            <div class="card-body">
                <p>Difficulty: {{topic.difficult}}</p>
                <div>
                    <label>Description</label>
                    <textarea 
                        class="form-control"
                        disabled
                        required [(ngModel)]="topic.description">
                    </textarea>
                </div>
                <div class="mt-2">
                    <button class="btn btn-danger" (click)="deleteTopic(topic)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="my-3" *ngIf="!newTopic">
        <button class="btn btn-primary" (click)="addTopic()">
            Add topic
        </button>
    </div>
    <div class="card" *ngIf="newTopic">
        <div class="card-header">
            <label>Topic title</label>
            <input 
                class="form-control"
                type="text"
                required [(ngModel)]="newTopic.title"
            />
        </div>
        <div class="card-body">
            <div class="col-4 col-md-3">
                <label>Difficulty</label>
                <input 
                    class="form-control"
                    type="number"
                    required [(ngModel)]="newTopic.difficult"
                />
            </div>
    
            <div class="my-2">
                <label>Description</label>
                <textarea
                    class="form-control"
                    required [(ngModel)]="newTopic.description">
                </textarea>
            </div>
            <button class="btn btn-primary" (click)="createTopic()">Add topic</button>
        </div>
    </div>
</div>

